body{
	background:#fff;
	font-family: arial-narrow;

}

.titulo{
	background: rgba(0,0,100,0.5);
	color: #fff;
	text-align: center;
	font-size: 3em;
}
thead{
	color: #fff;
	text-align: center;
}

 